@import "colors.css";

* {
    border-radius: 0px;
    font-family: Roboto, Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: 600;
    min-height: 0px;
    margin-right: 2px;
    margin-left: 2px;
}

window#waybar {
    background: rgba(22, 24, 26, 0.8);
    color: white;
}

tooltip {
    background: rgba(43, 48, 59, 0.5);
    border: 1px solid rgba(100, 114, 125, 0.5);
}

tooltip label {
    color: white;
}

#workspaces button {
    padding: 0 5px;
    background: transparent;
    color: white;
    border-top: 2px solid transparent;
}

#workspaces button.active {
    background: transparent;
    border-top: 2px solid @magenta;
}

#power-profiles-daemon,
#pulseaudio,
#memory,
#cpu,
#temperature,
#clock,
#custom-power,
#language {
    padding: 0 10px;
}

#language {
    border-bottom: 2px solid @pink
}

#custom-power {
    border-bottom: 2px solid @grey;
    padding-right: 12px;
}

#clock {
    border-bottom: 2px solid @red;
}

#temperature {
    border-bottom: 2px solid @orange;
}

#cpu {
    border-bottom: 2px solid @green;
}

#memory {
    border-bottom: 2px solid @purple;
}

#pulseaudio {
    border-bottom: 2px solid @yellow;
}

#power-profiles-daemon {
    border-bottom: 2px solid @blue;
}


@keyframes blink {
    to {
        background-color: #ffffff;
        color: black;
    }
}
